
body {
    background-color: #8dc6ccd8;
}

.navbar {
    border-bottom: rgb(50,50,200) 3px solid;
    opacity: 0.8;
}

.dark-overlay {
    height: 200px;
}
#homesection {
    background: url('img/home.jpeg') no-repeat;
    min-height: 800px;
    background-size: cover;
    background-attachment: fixed;
}
.home-inner {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 800px;

}
.startcont {
    padding-top: 150px;
    color: rgb(245, 245, 245);
}
.worker-img {
    width: 300px;
    height: auto;
}
#workers {
    background-color: #d5fbffd8;
}
#services {
    background: linear-gradient(to right, #043758, #74a9cc);
    color: #f0ffff;
}
footer {
    color: #f0ffff;
}
#services .services-text {
    padding-top: 20px;
}
#welcome {
    background: url('img/home.jpeg') no-repeat;
    min-height: 800px;
    background-size:cover;
    background-attachment: fixed;
}
#reservation_error{
    color: red;
    font-weight: 700;
    font-size: 20px;
}

.error {
    color: red;
    font-weight: 500;
    font-size: 18px;
}
input:not(:placeholder-shown):invalid {
    border: 2px solid red;
    background-color: rgba(255, 0, 0, 0.5);
  }
  
  input:required:valid {
    border: 2px solid rgb(39, 182, 26);
    background-color:  rgba(39, 182, 26,0.5);
  }

input[type="text"], input[type="email"], input[type="password"], textarea {
    background-color: rgb(225, 249, 255);
    border: 1px rgb(5, 5, 85) solid;
}
.pricelist-top {
    height: 150px;
    background-color: rgb(32, 108, 158);
    color: rgb(245, 245, 245);
}
.pricelist-top .row {
    padding-top: 85px;
}
#homesection span.animated {
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    bottom: 20%;
    text-align: center;
    font-size: 72px;
    font-weight: 700;
  }
  #homesection span.animated img {
      width: 75px;
      height: 75px;
  }
  #aboutus {
    background: linear-gradient(to right, #c3e6fd, #94d4ff);
  }
  #map {
      height: 400px;
      max-width: 90%;
  }
  .carousel-item {
    height: 600px;
  }
  
  .carousel-image-1 {
    background: url('img/car-keys.jpeg');
    background-size: cover;
  }
  
  .carousel-image-2 {
    background: url('img/black-and-white-car-vehicle-vintage.jpg');
    background-size: cover;
  }
  
  .carousel-image-3 {
    background: url('img/carmechanic.jpeg');
    background-size: cover;
  }
  #workers {
    background: url('img/pexels-photo-190574.jpeg') no-repeat;
    min-height: 400px;
    background-size:cover;
    background-attachment: fixed;
    color: aliceblue;
}
#workers .container {
    background-color:  rgba(0, 0, 0, 0.5);
}
#loginmenu {
    padding: 20px;
    font-size: 21px;
}
#loginmenu input {
    background-color: rgba(0, 0, 0, 0.5);
    color: aliceblue;
}
#login, #forgot {
    border: 2px rgb(23, 162, 184) solid;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    font-size: 18px;
}
#forgot {
    border-color: red;
}
#gallery {
    background: linear-gradient(to right, #ddf1ff, #112f66);
}
#here {
    font-size: 24px;
    font-weight: 500;
}
.carousel-image-2 h1, .carousel-image-2 p, .carousel-image-3 h1, .carousel-image-3 p {
    background-color: rgba(0, 0, 0, 0.3);
}
@media screen and (max-width:500px) {
    .navbar {
        opacity: 1;
    }
    #showcase h1{
        font-size: 36px;
        font-weight: 500;
        background-color: rgba(4, 4, 43, 0.1);
    }
    .carousel-item {
        height: 300px;
    }
    #homesection, #homesection .home-inner {
        min-height: 500px;
    }
    #homesection {
        background: url('img/carroad.jpeg') no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    #homesection h1 {
        display: none;
    }
    #aboutus h2 {
        font-size: 30px;
    }
    #aboutus p {
        display: none;
    }
    #loginmenu {
        top: 0px;
    }
    .startcont {
        padding-top: 100px;
    }

}