.navbar {
    border-bottom: rgb(50,50,200) 3px solid;
    opacity: 0.8;
}
.admin-top {
    height: 150px;
    background-color: rgb(32, 108, 158);
    color: rgb(245, 245, 245);
}
.admin-top .row {
    padding-top: 85px;
}
#adminoptions {
    background-color: rgb(32, 108, 158);
    height: 100px;
    padding: 0;
}
main {
    min-height: 500px;
    background-color: rgb(189, 222, 250);
    width: 100%;
    align-items: center;
}
.client {
    margin: 10px auto;
    border: rgb(32, 108, 158) 2px solid;
    background-color: rgb(117, 176, 228);
    padding: 10px;
}
.pagination {
    margin: 10px;
}
.pagination .page-link {
    background-color: rgb(24, 81, 167);
    color: azure;
    border-radius: 50%;
}
.pagination .pagactive {
    color: rgb(24, 81, 167);
    background-color: azure;
}
footer {
    color: #f0ffff;
}
.error {
    color: red;
    font-weight: 500;
    font-size: 18px;
}
#problem_decline textarea {
    display: block;
}
.searchbar {
    margin: 10px auto;
    border: rgb(32, 108, 158) 2px solid;
    background-color: rgb(117, 176, 228);
    padding: 10px;
    margin-top: 0;
}